body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}
#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background: #242f3e;
}